@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;
}

/*global*/

/*body*/

body {
    background-color: azure;
    display: block;
    width: 800px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}
.chat {

    background-color: white;

}

#titulo {
    margin: 3px;
}

.text {
    border: 1px solid black;
    background-color: rgb(155, 49, 132);
    color: white;
}

.input_mensagem {
 margin: 100px;
 align-items: center;
}

.button {
    display: inline-block;
    align-items: right;
    margin: 10px;
}
.section_msg {

    background-color: #130208;
    border: 1px solid #130208;
    color: white;
    margin: 20px;
    padding-bottom: 20px;
    max-height: 30vh;
    overflow-y: scroll;

}
.escopobtn {

    display: flex;
    justify-content: flex-end;

}